<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">roboScrumTrello</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>
                <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
                <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href=""
                                                                                      ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>