<navbar></navbar>

<div class="row">
    <div class="col-sm-12">
        <h1>Scrum Teams</h1>
        <a href="/teams/add">
            <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-star"></span> add a new scrum team
            </button>
        </a>
    </div>
</div>

<div class="row spacer">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="team in teams">
                <a href="/teams/{{team._id}}">{{team.name}}</a>
            </li>
        </ul>
    </div>
</div>